@CHARSET "UTF-8";

#att {
	left: 130px;
}

#day,#dayback {
	left: 130px;
}

td.day {
	width: 141px;
}

td.dayback {
	width: 70px;
}

td.empId {
	height: 35px;
}

td.name {
	height: 35px;
	width: 70px;
}

button {
	height: 35px;
	width: 70px;
}